
<form action="{{path('searchproduct')}}" method="POST" class="navbar-form form-search pull-right">
    
    {{form_widget(form.search)}}
       <button type="submit" class="btn">Rechercher</button>
    {{form_widget(form)}}              
</form>